# Core Django package
Django==4.2.5
# Handle CORS issues
django-cors-headers==4.2.0
# Toolkit for building Web APIs
djangorestframework==3.14.0
# JWT authentication for DRF
djangorestframework-simplejwt==5.3.0
# dotenv
python-dotenv==1.0.0
# openai
openai==0.28.1
